/*
 * Copyright 2020, Roberto Schiavelli Júnior - All Rights Reserved
 * Unauthorized copying of this file (content included) or any other within this project, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Roberto Schiavelli Júnior
 * Last time modified: 24/11/2020 17:13.
 */

body {
    background-color: #1E2124;
    margin: 0;
}

.main-container {
    overflow:auto;
    height: auto;
    width: 1440px;
    margin: auto;
    min-height: 100vh;
    max-width: 1440px;
    min-width: 1024px;
    background-color: #2E3136;
}

.card {
    display: block;
    position: relative;
    height: auto;
    width: 1000px;
    max-width: 1000px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border: 5px black solid;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: border-box;
    background-clip: padding-box;
}

.card__name {
    box-sizing: border-box;
    background-clip: padding-box;
    color: black;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.card-data-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.card__pic {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}

.card-info-container {
    width: 100%;
    align-self: flex-start;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    background-color: #aeb0b6;
    border: 1px #ffffff solid;
}

.card__info-cell {
    margin-left: 1%;
}

.card__info-cell:not(:last-child) {
    line-height: 1.5em;
    border-bottom: 1px black solid;
    margin-bottom: 2%;
    width: auto;
}