<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ card.name }}</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
    <div class="main-container">
        <div class="card">
            <div class="card__name">
                {{ card.name }}
            </div>
            <div class="card-data-container">
                <div class="card__pic">
                    <img src="data:;base64,{{ card_pic }}" alt="{{ card.name }}" width="421" height="614"/>
                </div>
                <div class="card-info-container">
                    <div class="card__info-cell">Card type: {{ card.CardType.name }}</div>
                    {% if card.type == 1 %}
                        <div class="card__info-cell">Types:
                            {% for type in card.monster_types %}
                            {{ type.name }}
                                {% if not loop.last %}
                                    /
                                {% endif %}
                        {% endfor %}</div>
                        <div class="card__info-cell">Attribute: {{ card.MonsterAttr.name }} <img src="data:;base64,{{ monster_attr_pic }}" alt="{{ card.MonsterAttr.name }}" width="30" height="30"/> </div>
                        <div class="card__info-cell">Level: {{ card.level_star }}</div>
                        <div class="card__info-cell">ATK: {{ card.atk }} / DEF: {{ card.defense }}</div>
                    {% endif %}
                    <div class="card__info-cell">Passcode: {{ card.card_id }}</div>
                    <div class="card__info-cell">Edition: {{ card.edition }}</div>
                    <div class="card__info-cell">Description: {{ card.desc }}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>